@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mySlides {
  display: none;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {

  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }

  to {
      opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
      font-size: 11px
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.content { margin-top:54px; }
            .header {padding:15px; position:fixed; top:0; width:100%; z-index:9999; }
            .left-title { width:80px; color:#FFF; font-size:18px; float:left; }
            .right-title { width:150px; text-align:right; float:right; color:#FFF;  }
            .quiz-body { margin-top:15px; padding-bottom:50px; }
            .option-block-container { margin-top:20px; max-width:420px; }
            .option-block { padding:10px; background:aliceblue; border:1px solid #84c5fe; margin-bottom:10px; cursor:pointer; }
            .result-question { font-weight:bold; }
            .c-wrong { margin-left:20px; color:#FF0000; }
            .c-correct {  margin-left:20px; color:green; }
            .last-row { border-bottom:1px solid #ccc; padding-bottom:25px; margin-bottom:25px; }
            .res-header { border-bottom:1px solid #ccc; margin-bottom:15px; padding-bottom:15px; }